wheel
setuptools
click
rich
tqdm
omegaconf
tomli
Jinja2
lark
nanoid
numpy
Pillow
opencv-python-headless
torch
torchao
transformers>=4.54.1
xformers>=0.0.27.post2
accelerate
diffusers
bitsandbytes
peft
pyarrow
jsonpickle
safetensors
soundfile
boto3
huggingface_hub
spaces
requests
fastapi
gradio
ipywidgets
